services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        PUID: ${PUID:-1000}
        PGID: ${PGID:-1000}
    container_name: laravel_app
    working_dir: /var/www/html/gestion-usuarios-backend
    volumes:
      - ./:/var/www/html
      - composer_cache:/home/laravel/.composer
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
    depends_on:
      - db
      - redis
    networks:
      - laravel_net

  nginx:
    image: nginx:1.25-alpine
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - laravel_net

  db:
    image: mysql:8.0
    container_name: laravel_db
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel_net

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    ports:
      - "6380:6379"
    networks:
      - laravel_net

networks:
  laravel_net:


volumes:
  db_data:
  composer_cache:
